<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Orange HRM">
    <test verbose="2"  name="login test">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="testcases.LoginTest">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>